<!-- Thin -->
@font-face {
    font-family: Roboto;
    font-weight: 100;
    font-style: normal;
    src: url('chrome-extension://__MSG_@@extension_id__/Fonts/Roboto-Thin.ttf');
}

<!-- Thin Italic -->
@font-face {
    font-family: Roboto;
    font-weight: 100;
    font-style: italic;
    src: url('chrome-extension://__MSG_@@extension_id__/Fonts/Roboto-ThinItalic.ttf');
}

<!-- Light -->
@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    src: url('chrome-extension://__MSG_@@extension_id__/Fonts/Roboto-Light.ttf');
}

<!-- Light Italic -->
@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    src: url('chrome-extension://__MSG_@@extension_id__/Fonts/Roboto-LightItalic.ttf');
}

<!-- Normal -->
@font-face {
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
    src: url('chrome-extension://__MSG_@@extension_id__/Fonts/Roboto-Regular.ttf');
}

<!-- Normal Italic -->
@font-face {
    font-family: Roboto;
    font-weight: normal;
    font-style: italic;
    src: url('chrome-extension://__MSG_@@extension_id__/Fonts/Roboto-RegularItalic.ttf');
}

<!-- Medium -->
@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url('chrome-extension://__MSG_@@extension_id__/Fonts/Roboto-Medium.ttf');
}

<!-- Medium Italic -->
@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style:italic;
    src: url('chrome-extension://__MSG_@@extension_id__/Fonts/Roboto-MediumItalic.ttf');
}

<!-- Bold -->
@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url('chrome-extension://__MSG_@@extension_id__/Fonts/Roboto-Bold.ttf');
}

<!-- Bold Italic -->
@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style:italic;
    src: url('chrome-extension://__MSG_@@extension_id__/Fonts/Roboto-BoldItalic.ttf');
}

<!-- Ultra-Bold -->
@font-face {
    font-family: Roboto;
    font-weight: 900;
    font-style: normal;
    src: url('chrome-extension://__MSG_@@extension_id__/Fonts/Roboto-Black.ttf');
}

<!-- Ultra-Bold Italic -->
@font-face {
    font-family: Roboto;
    font-weight: 900;
    font-style:italic;
    src: url('chrome-extension://__MSG_@@extension_id__/Fonts/Roboto-BlackItalic.ttf');
}

